<%- include('partials/header.ejs'); -%>
<section class="about_page">
    <div class="aboutContainer">
        <p class="aboutText">This site is a library of books that I've read with rating and short description. Soon it will be modified to be a website with authorization where anyone would be able to list their books.</p>
    </div>
    
</section>


<%- include('partials/footer.ejs'); -%>